

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Parisienne&family=VT323&display=swap');

/* corpo da página */
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around ;
    background-color: #791e0926;

}

/* Container encript e descrip*/
.container {
    padding:10px;
    border-radius: 8px;
    width: 60%;
    height: 30vh;
    background-image: linear-gradient(65deg, #260f0964, #552f2f);
    display: flex;
    box-shadow: 3px 6px 11px 9px rgba(0,0,0,0,66 );
}

/* Conteiner área de copiar - toda */
.div-cop-textarea {

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  



#div-cript{
    flex-basis: 50%;
    

}

#div-desc{
    flex-basis: 50%;
  
}

/* dados exclusivamente do container encri e desc */
.div-cont-textarea{
    display: flex;
    flex-direction: column;
    padding: 0px 8px;

}

/* dados exclusivamente do container encri e desc */
.div-cont-textarea textarea {
    resize: none;
    height: 85%;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
   background-color:  #ece7dd;
    
}
/* dados exclusivamente do botão encri e desc */
.div-cont-textarea input  {
    width: 50%;
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
    justify-content: center;
    padding: 5px 0px;
    font-size: 15px;
    border-radius: 5px;
    border-color: 1px solid #D089D6;
    background-color: #ece7dd;
}

/* dados exclusivamente do botão copiar  */
.div-cop-textarea input {
    width: 20%;
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
    justify-content: center;
    padding: 5px 0px;
    font-size: 15px;
    border-radius: 5px;
    background-color:#ece7dd;

}

#div-cop {

    display: flex;
    flex-direction: column;

}

/* dados exclusivamente da borda do container  */
#conteiner{
 height: 60vh;
 background-image: linear-gradient(65deg, #27080094, #552f2f);
 box-sizing: border-box;
 padding: 0px;
 border-radius: 8px;
 

}

.div-cop-textarea{
  height: 100%;
  margin-bottom: 300px;

}

/* dados exclusivamente de dentro da área de escrever do container copiar */
.div-cop-textarea textarea {
    resize:none;
    height: 70%;
    background-color:  #ece7dd;
    font-size: 15px;
    border-radius: 8px;
    padding: 8px;
   

}

/* dimensões da seta */
#seta{
   width: 80px;
   height: 80px;
   margin-left: 10px;
                                                                                                                         
}

#seta:hover{
    cursor: pointer;
}


  #containerEsquerda{
      position: relative;

  }


  #Copiar{
    position: absolute; 
    top: 250px;
    height: 6%;
    right: 130px;
    bottom: 0px;
    background-color: rgb(253, 251, 252);
    font-size: 18px;
    font-style: oblique;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 8px;
    animation: Copiar 1s ease-in-out;

  }

  
  @keyframes Copiar {
      0% {
          opacity: 0%;
          transform: translateY(-10px);
      }
      100% {
          opacity: 100%;
          transform: transleteY(0px);
      }
  }

    /* Cabeçalho */
    header{
        position: absolute;
        top: 50px;
        left: 30px;
        font-size: larger;
        color: antiquewhite;
        
      }
      
      /* animação do header */
      .line{

        color: rgb(187, 12, 88);
        font-family: "VT323";
        display: flex;
        border-right-width: 2px;
        border-right-style: solid;
        font-size: 2em;
        animation: cursor 1000ms steps(40) infinite normal, typing 13s steps(50)  normal 10 both;
        white-space: nowrap;
        max-width: 0vw; 
        overflow: hidden;

      }
     

      @keyframes typing {
        100% {
          max-width: 100vw;
        }
      }

      @keyframes cursor{
        100% {
            border-right-color: transparent;
          }
        } /*fim da animação do header*/


  /* rodapé */
  footer{
    position: absolute;
    font-family:'Itim';
    bottom: 0;
    color: #791e09;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
    font-size: larger ;

  }

  #git{
      position: relative;
      left: 30px;
  }

  #linkedin{
      position:relative;
      left: 60px;
  }


 

  #seta{
      cursor: pointer;
  }

  #buttonCopiar{
      cursor: pointer;
  }

  #buttonDescr{
      cursor: pointer;
}

#buttonCript{
    cursor: pointer;
}

/* Mensagem que aparece na tela quando usa maiúsculo e acentos */
#mensagemErro {
    position: absolute; 
      top: 250px;
      height: 6%;
      right: 1000px;
      bottom: 0px;
      background-color: rgb(253, 251, 252);
      font-size: 18px;
      font-style: oblique;
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding: 8px;
      animation: Copiar 1s ease-in-out;
  
}

